playsound
groq
pyaudio
requests
python-dotenv
PyQt5
Levenshtein
tgcrypto
openai
google-generativeai
pyrogram
fuzzywuzzy
pygame
AppOpener
speechrecognition
mtranslate
selenium
edge-tts
elevenlabs
trafilatura
aiohttp
crawl4ai